<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>服务版权 - 应用商店 - 最好的插件化软件平台 Powered by Terwer</title>
</head>
<body>
<h1>这个是远程的AppStore项目的页面，目的是及时更新动态，同时又不影响客户。</h1>
<div class="w1000">
    <div class="CRM_gsbn"> BuguCMS —— 企业运营管理一体化的六脉神剑</div>
    <div class="CRM_l">
        <div class="CRM_l_ico"></div>
        <div class="CRM_l_r">
            <dl class="CRM_l_r_list">
                <dd> 开发一个新客户的成本是维持一个老客户的5~6倍</dd>
                <dd> 根据28定律，企业的80%的销售额由20%的客户贡献产生</dd>
                <dd> 如何管理提高团队协同效率，进而有效提升企业销售业绩</dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
    <!--CRM_lover-->
    <div class="CRM_r">
        <dl class="CRM_l_r_list">
            <dd> 而流失一个老客户的损失，只有争取10位新客户才能弥补</dd>
            <dd> 如何重视并有效管理维系不同阶段的客户关系</dd>
            <dd> 知道有多少家成交客户和流失客户，如何成交、如何流失，也是一种商业价值</dd>
        </dl>
    </div>
    <style type="text/css">
        div.crm_text {
            margin-left: 76px;
        }

        div.crm_text span {
            color: #3D3D3D;
            display: block;
            line-height: 30px;
            text-align: justify;
            text-indent: 2em;
        }
    </style>
    <!--CRM_rover-->
    <div class="clear"></div>
    <div class="CRM_bs_text crm_text"><span>C加客户关系管理系统——中国首款拥有"商务增值"功能的插件化管理系统，是一套针对各行业众多企业需求特点推出的符合中国企业用户使用的企业信息化管理系统。实现客户关系管理体系、市场挖掘、销售服务、日程安排、行动部署、财务流水、知识管理、作业协同等完美的融合在一起，将客户、商机、产品、财务、售后服务、团队管理、日程行动、工作汇报、内部办公自动化进行充分协同的平台，有效管理企业内部资源，提高客户忠诚度，实现客户和商业价值最大化，达到降低企业运营成本，提高效率，优化客户关系，提升销售的目的。</span>
        <span>BuguCMS，是工具，思想，制度，管控手段的高度融合，它不仅仅是一套软件工具，还是一套管理机制，一种管理思维，一种商业策略，一座永不枯竭的人脉金矿。</span></div>
    <div class="CRM_l">
        <div class="CRM_l_r">
            <div class="CRM_l_r_info" style="margin-top: 45px;">
                  <span style="text-indent: 0em;line-height:31px;">
                    · 360度客户关系深度管理<br>
                    · 兼备日常办公OA功能，协同作业的CRM系统<br>
                    · 行动管理，任务部署；市场跟单，提升销售<br>
                    · 产品管理，知识管理，行政/人才/财务收支管理<br>
                    · 智能报表决策分析，瞬间知晓企业经营状况<br>
                    · 客户来电，电脑自动弹屏，文件合同归档管理<br>
                    · 手机短信，电子邮件群发通知<br>
                    · 有效降低企业运营成本，促进企业销售业绩提升<br>
                    · B/S结构，支持局域网，互联网跨区域访问使用<br>
                    · 企业自行安装和拥有，数据更安全，使用更放心<br>
                    · 无使用用户数和时间的限制
                  </span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--CRM_lover-->
    <div class="CRM_r">
        <div class="CRM_r_tierl"> 助中国企业管理和销售插上翅膀</div>
        <div class="CRM_r_img"><img src="/templates/green/images/CRM_a.jpg" width="441"></div>
        <div class="CRM_r_text">
            《软件著作权登记证书》软著登字第0198563 号,登记号2014SR023698 <br>
        </div>
    </div>
    <!--CRM_rover-->
    <div class="clear"></div>
</div>
</body>
</html>